{{!-- This is for the zoom photo - to look at ind photos --}}

<div class="album-full">
  <div class="back_button"><a href="#" data-list-name="{{album}}">Back to {{album}}</a></div>
  <div class="photo">
    <img src="{{photo_url}}" alt="{{album}}">
  </div>
  <div class="info">
    <table>
      <tr>
        <th>Album:</th>
        <td>{{album}}</td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>{{description}}</td>
      </tr>
    </table>
  </div>
</div>
